/* CSS RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {

    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;

}


/* CSS RESET FOR OLDER BROWSERS */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    
    display: block;
}

body {

    line-height: 1;

}

blockquote, q {
    
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {

    content: '';
    content: none;

}

table {
    
    border-collapse: collapse;
    border-spacing: 0;

}

strong, b {

    font-weight: bold;

}

em, i {

    font-style: italic;

}

a img {
    
    border: none;

}

/* END RESET */
/* START PROJECT STYLES */
/* 
colorPallette{
    Dark Blue: RGB (10, 39, 78) - Used for the text and the wave icon details.

Off-White: RGB (255, 255, 255) - Used for the main background.

Embossed Blue: RGB (16, 49, 90) - Used for the background and embossed waves on the left.
} */

.mainContainer {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header   header        header"
    "left     presentation  right"
    "footer   footer        footer";

    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 8vh 86vh 6vh;
}

/* HEADER STYLES */
.headerContainer {
    display: flex;
    flex-grow: 1;
    gap: 10px;
    justify-content: space-between;
    background-color: rgb(16, 49, 90);
    color: rgb(255, 255, 255);
    /* border-radius: 0 0 1em 0; */
    grid-area: header;
    align-items: center;
   
}

.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;   

}

.headerLinks {
    display: flex;
    justify-content: right;
    flex-basis: 100px;
    flex-grow: 15;
    gap: 1em;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.aboutLink{
    /* background-color: gray; */
    flex-grow: 8;  
    
}

.servicesLink{
    /* background-color: lightcoral; */
    flex-grow: 1;    

}

.estimateLink{
    /* background-color: lightskyblue; */
    flex-grow: 1;
   
}

/* .emptySpace {
    background-color: brown;
    flex-grow: 8;
} */



#logo {
    width: 75px;
    height: auto;
    /* align-items: center; */

}

.presentationContainer {
    background-color:rgb(255, 255, 255);
    grid-area: presentation;
    font-size: 7em;
    color: rgb(10, 39, 78);
}

/* .marketingContainer {
    background-color: rgb(207, 219, 211);
    grid-area: marketing;
} */

/* .jobberContainer {
    background-color: rgb(48, 151, 38);
    grid-area: jobber;
} */

/* .servicesContainer {
    background-color: rgb(231, 128, 240);
    grid-area: services;
} */

.footer {
    background-color: rgb(16, 49, 90);
    color: rgb(255, 255, 255);
    grid-area: footer;
}