/* CSS RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {

    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;

}


/* CSS RESET FOR OLDER BROWSERS */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    
    display: block;
}

body {

    line-height: 1;

}

blockquote, q {
    
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {

    content: '';
    content: none;

}

table {
    
    border-collapse: collapse;
    border-spacing: 0;

}

strong, b {

    font-weight: bold;

}

em, i {

    font-style: italic;

}

a img {
    
    border: none;

}

/* END RESET */
/* START PROJECT STYLES */
/* 
colorPallette{
    Dark Blue: RGB (10, 39, 78) - Used for the text and the wave icon details.

Off-White: RGB (255, 255, 255) - Used for the main background.

Embossed Blue: RGB (16, 49, 90) - Used for the background and embossed waves on the left.
} */

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;  
    margin: 0;
    background-color: rgb(255, 255, 255);
    &::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none; 
  } 
}

/* HEADER STYLES */
.headerContainer {
    display: grid;
    grid-template-columns: 8fr 1fr;
    grid-template-rows: 10dvh;
    grid-template-areas: 
                        'links logo';
    background-color: rgb(16, 49, 90);
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
   
}


/* NAV STYLES */
.headerNav ul {
    display: grid;
    align-items: end;
    padding: 1em;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    grid-template-rows: 6dvh;
    grid-template-areas: 'a b c d';
    list-style-type: none;
    
}

.navLink {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navLink:hover {
    text-decoration: underline;
    
}

#servicesLink {
    /* background-color: lightcoral; */
    grid-area: b;
}

#aboutLink {
    /* background-color: gray; */
    grid-area: c;
    
}

#estimateLink {
    /* background-color: lightskyblue; */
    grid-area: d;
 
}

.logoContainer img {
    padding: 1em;
    width: 100%;
    max-width: 100px;
    height: auto;
    transition: transform 0.3s ease;
    grid-area: logo;
    cursor: pointer;

}

.logoContainer img:hover{
    transform: scale(1.05);
    opacity: 0.9;
}

/* MAIN CONTAINER STYLES */
.mainContainer {
    flex-grow: 1;
}

.marketingContainer {
    grid-area: marketing;

}


/* PRESENTATION CONTAINER */
.presentationContainer {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    grid-template-areas: 
        'left marketing right';
    padding: 40px 20px;

}

.marketingContainer {
    grid-area: marketing;
    justify-self: center;
    width: 100%;
    max-width: 600px;
    aspect-ratio: 6 / 6;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    color: rgb(10, 39, 78);
    font-size: 6em;
    padding: 40px;
    background-color: rgba(38, 20, 41, 0.05);
    border-radius: 16px;
   
}

.marketingContainer a {
    text-decoration: none;
    color: rgb(10, 39, 78);
}

.moreBtn {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    place-items: center;
    border: none;
    color: white;
    background-color: rgb(16, 49, 90);
    cursor: pointer;
    font-size: 30px;
    
}
.moreBtn:hover {
    font-size: 50px;

}

.lobbyContainer {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
    /* background-color: rgba(38, 20, 41, 0.06); */
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    grid-template-areas: 
        'left lobby right';
}

.lobbyTitle {
    color: rgb(10, 39, 78);
    padding-left: 1em;
    font-size: 2.5em;
    font-weight: bold;
}

.box {
    grid-area: lobby;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    gap: 20px;

}

.lobbyCards {
    border-radius: 12px;
    padding: 20px 20px;
    background-color: rgba(232, 232, 232, 1);
    height: 30dvh;
    display: flex;
    flex-direction: column;  
    position: relative;
    justify-self: center;
    color: rgb(10, 39, 78);
    font-size: 2em;

}

.lobbyCards a {
    text-decoration: none;
    color: rgb(10, 39, 78);
}

.card-1 {
    flex-basis: 60%;
    order: 1;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

#lcard1 {
    height:  250px;
    width:250px;
}

.card-2 {
    flex-basis: 30%;
    order: 2;
}
.card-3 {
    height: 40dvh;
    flex-basis: 30%;
    order: 3;
}
.card-4 {
    height: 40dvh;
    flex-basis: 60%;
    order: 4;
}
.card-5 {
    height: 70dvh;
    flex-basis: 30%;
    order: 5;
}
.card-6 {
    height: 70dvh;
    flex-basis: 60%;
    order: 6;
}

/* FOOTER STYLES */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    background-color: rgb(16, 49, 90);
    padding: 40px 20px;
    color: rgb(255, 255, 255);
    font-size: 1em;
}

